# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
env/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Generated datasets
.cache/
dataset*/
output*/
results*/
cache*/
tmp*/
outputs/
work/
*.egg-info/

# Environment
.env
